<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ancestors</key>
	<array>
		<string>raku.cocoaTouchUniversalApplication</string>
		<string>raku.coreDataCocoaTouchApplication</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Definitions</key>
	<dict>
		<key>Delegate/RKU___PACKAGENAMEASIDENTIFIER___AppDelegate.m:applicationdidFinishLaunchingWithOptions:makeKeyAndVisible</key>
		<string>[self.window makeKeyAndVisible];
</string>
	</dict>
	<key>Description</key>
	<string>This template provides a starting point for any application. It provides just an application delegate and a window.</string>
	<key>Identifier</key>
	<string>raku.windowBasedApplication</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Nodes</key>
	<array>
		<string>Delegate/RKU___PACKAGENAMEASIDENTIFIER___AppDelegate.m:applicationdidFinishLaunchingWithOptions:makeKeyAndVisible</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>universalDeviceFamily</string>
			<key>Units</key>
			<dict>
				<key>Universal</key>
				<dict>
					<key>Definitions</key>
					<dict>						
						<key>Delegate/iPad/RKU___PACKAGENAMEASIDENTIFIER___AppDelegate_iPad.h</key>
						<dict>
							<key>Group</key>
							<array>					
								<string>Delegate</string>			
								<string>iPad</string>
							</array>
							<key>Path</key>
							<string>___PACKAGENAMEASIDENTIFIER___AppDelegate_iPad.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Delegate/iPad/RKU___PACKAGENAMEASIDENTIFIER___AppDelegate_iPad.m</key>
						<dict>
							<key>Group</key>
							<array>					
								<string>Delegate</string>			
								<string>iPad</string>
							</array>
							<key>Path</key>
							<string>___PACKAGENAMEASIDENTIFIER___AppDelegate_iPad.m</string>
						</dict>
						<key>Views/iPad/en.lproj/RKUMainWindow_iPad.xib</key>
						<dict>
							<key>Group</key>
							<array>					
								<string>Views</string>			
								<string>iPad</string>
							</array>
							<key>Path</key>
							<string>MainWindow_iPad_Universal.xib</string>
						</dict>
						<key>Delegate/iPhone/RKU___PACKAGENAMEASIDENTIFIER___AppDelegate_iPhone.h</key>
						<dict>
							<key>Group</key>
							<array>					
								<string>Delegate</string>			
								<string>iPhone</string>
							</array>							
							<key>Path</key>
							<string>___PACKAGENAMEASIDENTIFIER___AppDelegate_iPhone.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Delegate/iPhone/RKU___PACKAGENAMEASIDENTIFIER___AppDelegate_iPhone.m</key>
						<dict>
							<key>Group</key>
							<array>					
								<string>Delegate</string>			
								<string>iPhone</string>
							</array>							
							<key>Path</key>
							<string>___PACKAGENAMEASIDENTIFIER___AppDelegate_iPhone.m</string>
						</dict>
						<key>Views/iPhone/en.lproj/RKUMainWindow_iPhone.xib</key>
						<dict>
							<key>Group</key>
							<array>					
								<string>Views</string>			
								<string>iPhone</string>
							</array>
							<key>Path</key>
							<string>MainWindow_iPhone_Universal.xib</string>
						</dict>
					</dict>
					<key>Nodes</key>
					<array>					
						<string>Delegate/iPhone/RKU___PACKAGENAMEASIDENTIFIER___AppDelegate_iPhone.h</string>
						<string>Delegate/iPhone/RKU___PACKAGENAMEASIDENTIFIER___AppDelegate_iPhone.m</string>
						<string>Views/iPhone/en.lproj/RKUMainWindow_iPhone.xib</string>
						<string>Delegate/iPad/RKU___PACKAGENAMEASIDENTIFIER___AppDelegate_iPad.h</string>
						<string>Delegate/iPad/RKU___PACKAGENAMEASIDENTIFIER___AppDelegate_iPad.m</string>
						<string>Views/iPad/en.lproj/RKUMainWindow_iPad.xib</string>
					</array>
				</dict>
				<key>iPad</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Views/en.lproj/RKUMainWindow.xib</key>
						<dict>
							<key>Group</key>
							<string>Views</string>
							<key>Path</key>
							<string>MainWindow_iPad.xib</string>
						</dict>
					</dict>
				</dict>
				<key>iPhone</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Views/en.lproj/RKUMainWindow.xib</key>
						<dict>
							<key>Group</key>
							<string>Views</string>
							<key>Path</key>
							<string>MainWindow_iPhone.xib</string>
						</dict>
					</dict>
				</dict>
			</dict>
		</dict>
	</array>
</dict>
</plist>
